{% extends "layout.html" %}
{% block title %}Bookflix{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}


{% block content %}

<div class="container p-5">
	{% if mensaje_de_exito %}
	<div class="alert alert-success" role="alert">
		<ul>
			<li>{{ mensaje_de_exito }}</li>
		</ul>
	</div>
	{% endif %}

	<h1>Cuenta</h1>

	<hr style="border: 1px solid;">

	<div>
		<div class="row">
			<div class="col-4 text-center pt-5">
				<h5>INFORMACIÓN</h5>
			</div>

			<div class="col-8">
				<p><b>Email:</b> {{ usuario.email }}</p>
				<p><b>Contraseña:</b> ********</p>
				<p><b>Nombre y Apellido:</b> {{ usuario.nombre }}, {{ usuario.apellido }}</p>
				<p><b>Fecha de Nacimiento:</b> {{ usuario.fecha_de_nacimiento }}</p>
			</div>
		</div>
	</div>

	<hr style="border: 1px solid;">

	<div>
		<div class="row">
			<div class="col-4 text-center pt-5">
				<h5>PLAN</h5>
			</div>
			<div class="col-8">
				<p><b>Tipo de plan:</b> {{ plan.nombre | capitalize }}</p>
				<p><b>Precio actual:</b> ${{ plan.precio }}</p>
				<p><b>Cantidad de perfiles permitidos por el tipo de plan:</b> {{ plan.perfiles_max }}</p>
				
				<a href="{{ url_for('modificar_plan') }}">
					Cambiar plan
				</a>
			</div>
		</div>
	</div>

	<hr style="border: 1px solid;">

	<div>
		<div class="row">
			<div class="col-4 text-center pt-5">
				<h5>PERFILES</h5>
			</div>
			<div class="col-8">
				{% if perfiles_creados == 0 %}
					<p><b>Usted no tiene perfiles creados por el momento.</b></p>
				{% elif perfiles_creados == 1 %}
					<p><b>Actualmente tiene 1 perfil creado.</b></p>
				{% else %}
					<p><b>Actualmente tiene {{ perfiles_creados }} perfiles creados.</b></p>
				{% endif %}
				
				<a href="{{ url_for('ver_perfiles_con_sesion') }}">
					Administrar perfiles
				</a>
			</div>
		</div>
	</div>

</div>

{% endblock %}