{% extends "layout.html" %}
{% block title %}Bookflix{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}


{% block content %}
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4 text-center">Administración de anuncios</h1>
		<p class="lead">
			Desde aquí podrás administrar los Anuncios en el sistema. Por lo tanto
			las acciones de Ver, Editar, Crear y Eliminar anuncios se harán desde acá.
		</p>

		<hr class="my-4">

		<div class="text-right">
			<p>¡Desde aquí puedes ir a un formulario para añadir nuevos Anuncios!</p>
			<a class="btn btn-success btn-lg" href="{{ url_for('anuncio_new') }}" role="button">
				Crear un anuncio
				<i class="material-icons" style="vertical-align:middle">add_to_queue</i>
			</a>
		</div>
	</div>
</div>

<div class="container p-5">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Título</th>
				<th scope="col">Contenido</th>
				<th scope="col" colspan="3">Acciones</th>
			</tr>
		</thead>

		<tbody>
			{% for anuncio in anuncios %}
			<tr>
				<th scope="row">{{ anuncio.id }}</th>
				<td>{{ anuncio.titulo }}</td>
				<td>{{ anuncio.contenido }}</td>
				<td>
					<a
						class="material-icons btn btn-primary disabled"
						title="Ver"
					>visibility</a>
				</td>
				<td>
					<a
						class="material-icons btn btn-info"
						title="Editar"
						href="{{ url_for('anuncio_edit', anuncio_id=anuncio.id) }}"
					>edit</a>
				</td>
				<td>
					<a href="/eliminar_anuncio/{{ anuncio.id }}" class="material-icons btn btn-danger" title="Eliminar">delete</a>
					
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}