body,
.fondo {
    background: white;
}
.titulo {
    color:  black;
    font-weight: 700!important;
}

.perfil {
    border-radius: 0px;
    border: none;
    border-style: none;
    margin-right: 0px;
}
.perfil:focus {
    border-radius: 0px;
    border: none;
    border-style: none;
    margin-right: 0px;
    background: none;

}
.img1 {
    border-radius: 0px;
    border-style: none;
    transition: 0.5s;
    border: 4px #1f1f1f solid;
    box-shadow: none;
}
.img1:hover {
    border: 4px white solid;
    box-shadow: none;
}
.img2 {
    border-radius: 0px;
    border-style: none;
    transition: 0.5s;
    border: 4px #1f1f1f solid;
    box-shadow: none;
}
.img2:hover {
    border: 4px white solid;
    box-shadow: none;
}
.img3 {
    border-radius: 0px;
    border-style: none;
    transition: 0.5s;
    border: 4px #1f1f1f solid;
    box-shadow: none;
}
.img3:hover {
    border: 4px white solid;
    box-shadow: none;
}
.img4 {
    border-radius: 0px;
    border-style: none;
    transition: 0.5s;
    border: 4px #1f1f1f solid;
    box-shadow: none;
}
.img4:hover {
    border: 4px white solid;
    box-shadow: none;
}
.img5 {
    border-radius: 0px;
    border-style: none;
    transition: 0.5s;
    border: 4px #1f1f1f solid;
    box-shadow: none;
}
.img5:hover {
    border: 4px white solid;
    box-shadow: none;
}
