{% extends "layout.html" %}
{% block title %}Bookflix{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}


{% block content %}
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4 text-center">Añadir una reseña</h1>
	</div>
</div>


<div class="container">
	<div class="card mx-auto m-5" style="width: 40rem;">
		<div class="card-header">
			<h1 class="card-title">Añadir una reseña nueva</h1>
		</div>
		
		<div class="card-body">
			<span class="card-text">
				<form method="POST">
					<section class="form-group">
						<label for="calificacion"> Calificacion </label>
						<select class="custom-select" name="calificacion" id="calificacion">
							<option selected value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</section>

					<section class="form-group">
						<label for="comentario"> Comentario </label>
						<textarea type="text" class="form-control form-control-lg rounded-0" name="comentario"
							id="comentario" required></textarea>
					</section>
					
					<section class="form-group">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="1" id="spoiler" name="spoiler">
							<label class="form-check-label" for="spoiler">
							Marcar comentario como <b>spoiler</b>
							</label>
						</div>
					</section>

					<div class="text-right">
						<a href="/ver_catalogo" class="btn btn-white">Cancelar</a>
						<button href="{{ url_for('reseña_new', libro_id=libro_id) }}" type="submit" class="btn btn-primary">Aceptar</button>
					</div>
				</form>
			</span>
		</div>
	</div>
</div>

{% endblock %}