{% extends "layout.html" %}
{% block title %}Bookflix{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}


{% block content %}

	<div class="container p-5">
		<div class="card mx-auto m-5" style="width: 40rem;">
			<div class="card-header">
				<h1 class="card-title">Agregar Autor</h1>
			</div>
			
			<div class="card-body">
				<span class="card-text">
					<form method="POST" enctype="multipart/form-data">
						{% if errores %}
						<div class="alert alert-danger" role="alert">
							<ul>
								{% for error in errores %}
								<li>{{ error }}</li>
								{% endfor %}
							</ul>
						</div>
						{% endif %}
						<section class="form-group">
							<label for="nombre"> Nombre </label>
							<input type="text" class="form-control form-control-lg rounded-0" name="nombre"
								id="nombre" required>
						</section>
                        <div class="text-right">
							<a href="{{ url_for('autor_index') }}" class="btn btn-white">Cancelar</a>
							<button type="submit" class="btn btn-primary">Aceptar</button>
						</div>
					</form>
				</span>
			</div>
		</div>
	</div>

{% endblock %}
